/* --accent-color: #2196F3
--белый: #ffffff
основной цвет заголовков - #212121
основной цвет текста - #757575
вторичный цвет фона - #F5F4FA 
цвет фона hero, footer - #2F303A
*/

:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --main-title-color: #212121;
  --secondary-bgc: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

/*-------HEADER--------*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo {
  color: #000000;
}

.footer-logo {
  color: #ffffff;
}

.logo-accent {
  color: var(--accent-color);
}

.site-nav-item,
.contact-nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .link {
  color: #212121;
}
.contact-nav .link {
  color: #757575;
}
.site-nav .link:hover,
.site-nav .link:focus,
.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}

/* HERO */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* Features */

.features-list-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.features-list-description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* Services */

/* Team */
.team-members-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.team-members-role {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* footer */

footer {
  background-color: #2f303a;
}
.contacts-list {
  font-style: normal;
}
.contacts-list .link {
  color: #ffffff;
}

.contacts-list .link:hover,
.contacts-list .link:focus {
  color: var(--accent-color);
}

.contacts-list-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contacts-address {
  color: #ffffff;
}
.contacts-mail,
.contacts-tel {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio */
.portfolio-menu-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: var(--secondary-bgc);
  border: none;
}

.portfolio-menu-btn:hover,
.portfolio-menu-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.portfolio-examples-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.portfolio-examples-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
